<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flowster</title>
    <!-- Hvilke karakterer der kan benyttes på siden -->
    <meta charset="utf-8">
    <!-- Får siden til at følge skærmens størrelse -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Browser logo -->
    <link rel="icon" href="/images/flowster-logo-thumbnail.png">
    <!-- Stylesheets til Bootstrap -->
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap-theme.css" type="text/css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/flowster.css" type="text/css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Padauk&family=Raleway:wght@200&display=swap" rel="stylesheet">

</head>
<body>

<div class="container-fluid main-content text-center">

    <div class="row">
        <nav th:if="${loggedInUser != null}" th:insert="fragments :: menubar(${loggedInUser}, ${orgDbName})"></nav>
    </div>

    <div class="row content">
        <div class="col-sm-12">
            <p class="page-title">Om Flowster</p><br>
            <div class="info-container">
            <p>Flowster er et projekthåndteringsværktøj udviklet til at nedbryde og tidsestimere projekter samt kalkulere dets omkostninger. Som bruger af Flowster tilknyttes man til en organisation via en organisationskode, som indtastes under oprettelse. Flowster kan derfor ikke benyttes af privatpersoner.<br><br>
                I Flowster arbejdes der i teams som tilknyttes forskellige projekter. Som projektleder kan man oprette et team bestående af organisationens medarbejdere, derefter oprette et pro-jekt og tilknytte et eller flere teams til dette.<br><br>
                I Flowster kan hvert projekt opdeles i delprojekter bestående af opgaver, som kan indeholde underopgaver. Projektlederen angiver et tidsestimat for hvert delprojekt, hvorefter Flowster leverer et samlet tidsestimat for projektet.<br><br>
            </p>
            </div>
        </div>
    </div>
</div>

<!-- Footer fragment -->
<div th:insert="fragments :: footer(${loggedInUser}, ${orgDbName})"></div>

</body>
</html>
