<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flowster</title>
    <!-- Hvilke karakterer der kan benyttes på siden -->
    <meta charset="utf-8">
    <!-- Får siden til at følge skærmens størrelse -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Browser logo -->
    <link rel="icon" href="/images/flowster-logo-thumbnail.png">
    <!-- Stylesheets til Bootstrap -->
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap-theme.css" type="text/css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/flowster.css" type="text/css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Padauk&family=Raleway:wght@200&display=swap" rel="stylesheet">

</head>
<body>


<div class="container-fluid main-content text-center">

    <div class="row">
        <nav th:insert="fragments :: menubar(${loggedInUser}, ${orgDbName})"></nav>
    </div>

    <div class="row content">

        <!-- SIDEBAR-FRAGMENT -->
        <!-- TODO: team-fragment :: teams-list(${loggedInUser.getJoinedTeamsList})-->
        <!--TODO: det giver bedst mening at sende en Model med til hver fragment, som kun indeholder det som den fragment skal bruge  -->
        <div th:insert="fragments :: teams-sidebar(${loggedInUser}, ${orgDbName})" class="content"></div>

        <!-- MAIN-CONTENT-FRAGMENT -->
        <div class="col-sm-10">
            <h1 th:text="${projectModel.getTitle()}"></h1>

            <div th:each="subproject : ${projectModel.getSubprojectList()}">
                <h2 th:text="${subproject.getTitle()}"></h2>

                <div th:each="task : ${subproject.getTaskList()}">
                    <h3 th:text="${task.getTitle()}"></h3>

                    <div th:each="subtask : ${task.getSubtaskList()}">
                        <h4 th:text="${subtask.getTitle()}"></h4>

                    </div> <!-- for-each: subtask -->

                    <!--+ tilføj underopgave-KNAP-->
                    <a th:href="${'/' + orgDbName + '/editProject/' + projectModel.getId() + '/subproject/' +
                        subproject.getId() + '/task/' + task.getId() + '/createSubtask/' + nextSubtaskId}">
                        + tilføj ny underopgave</a>


                </div> <!-- for-each: task -->

                <!-- + tilføj opgave-KNAP -->


                <!--  tilføj TASK-FORM -->
                <!-- HVIS loopet er nået til det subproject hvor der skal tilføjes en task, skal formen være der-->
                <form th:if="${subprojectId == subproject.getId()}"
                      th:action="${'/editProject/' + projectId + '/subproject/' + subprojectId + '/createTask/' + nextTaskId}"
                      method="post"
                      class="edit-team-name-container">
                    <div></div>
                    <input type="text"
                           class="form-control"
                           id="task-title"
                           name="task-title"
                           placeholder="Indtast opgavetitel"
                           maxlength="100"
                           required>

                    <button type="submit" class="btn save-team-btn">Gem</button>
                    <a th:href="${'/' + orgDbName + '/editProject/' + projectModel.getId()}"> <!-- KRYDS-symbol --> KRYDS</a>
                </form>

                <!-- Hvis loopet IKKE er kommet til det subproject hvor der skal tilføjes en task -->
                <a th:unless="${subprojectId == subproject.getId()}"
                   th:href="${'/' + orgDbName + '/editProject/' + projectModel.getId() + '/subproject/'
                + subproject.getId() + '/addTask/' + nextTaskId}"> + tilføj ny opgave</a>

            </div> <!-- YDERSTE for-each: subproject-->

            <!--  tilføj delprojekt-KNAP -->
            <a th:href="${'/' + orgDbName + '/editProject/' + projectModel.getId() + '/createSubproject/' + nextSubprojectId}">
                + tilføj nyt delprojekt</a>

        </div>
    </div>

</div>

<!-- Footer fragment -->
<div th:insert="fragments :: footer(${loggedInUser}, ${orgDbName})"></div>

</body>
</html>
