input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}

footer
{
    position: absolute;
    background-color: #3E8AC4;
    color: white;
    padding: 70px;
    bottom: 0;
    width: 100%;
}

.flowster-btn
{
    background-color: #BCE1FD;
}

.index-img-container
{
    width: 700px;
    margin: 70px;
}