input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}

footer
{
    position: absolute;
    background-color: #3E8AC4;
    color: white;
    padding: 70px;
    bottom: 0;
    width: 100%;
}

.flowster-btn
{
    border-radius: 100px;
    width: 200px;
    color: white;
    background-color: #3E8AC4;
}

.index-img-container
{
    width: 700px;
    margin: 70px;
}

hr
{
    border-width: 2px;
    border-color: #CDD3D8;
    width: 90%;
}

.font-italic
{
    color: #3E8AC4;
    font-style: italic;
    font-weight: lighter;
}

.label-padding
{
    padding-top: 3px;
}