html *
{
    font-family: 'Raleway', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

.main-content
{
    /*vh == viewheight ELLER viewportheight*/
    /*IKKE 100 % fordi det betyder 100 % af højden på det element som main-content ligger inde i*/
    /*calc er dog ikke understøttet af explorer en eller anden version*/
    /*150 fordi det er højden på den samlede footer*/
    min-height: calc(100vh - 150px);
}

input[type=number]
{
    -moz-appearance: textfield;
}

.flowster-btn
{
    border-radius: 100px;
    width: 200px;
    color: white;
    background-color: #3E8AC4;
    /*farven: 0,0,0 == sort. 0.2 == 80% gennemsigtighed*/
    /*3px 3px 3px højre, nedad, hvor stor - hvis sidste værdi er større end forrige, kan man se det på top og venstre*/
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

*:focus
{
    outline: none;
}

.index-img-container
{
    width: 700px;
    margin: 75px;
}

.font-italic
{
    color: #3E8AC4;
    font-style: italic;
    font-weight: lighter;
}

.label-padding
{
    padding-top: 8px;
}

/*Colours/Farver*/
.darkblue
{
    color: #235D89;
}

.medium-blue
{
    color: #3E8AC4;
}

.light-blue
{
    background-color: #D7EEF7;
}

.white
{
    color: white;
}

.container-width
{
    padding-left: 120px;
    padding-top: 50px;
    width: 90%;
}

.footer
{
    display: flex;
    background-color: #3E8AC4;
    color: white;
    height: 150px;
    padding: 60px;
    /*border-box = indholdet + padding - sættes til height (indholdet får højden på height minus padding)*/
    /*content-box = KUN indholdet sættes til height-højden (denne er default)*/
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
}

    /*all == alle ændringer man laver undervejs tager nu 2 sek*/
/*  transition: background-color 2s;
}

.footer:hover
{
    background-color: #235D89;
}*/

.footer-logo
{
    width: 170px;
}

/*css-selector*/
/* css-selector - ALLE p-tags som er i form, der har create-user-klassen*/
form.create-user p
{
    color: #235D89;
}

/*horisontal ruler - styler på et tag - men man vil typisk lave en mere præcis selector når man styler på tags*/
form.create-user hr
{
    border-width: 2px;
    border-color: #CDD3D8;
    width: 90%;
}

/*All hr-tags inde div's som har klassen main-content vil have denne styling*/
/*Og siden ALT på alle html'er er omkranset af en div der har klassen main-content, vil ALLE hr-tags få denne styling*/
div.main-content hr
{
    border-width: 2px;
    border-color: #CDD3D8;
    width: 90%;
}

/*--------NAVBAR---------*/

.navbar-logo
{
    width: 150px;
}

.navbar-custom
{
    background-color: #235D89;
    margin-bottom: 0;
    border-radius: 0;
    height: 100px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.navbar-custom .navbar-brand
{
    padding: 30px 0 0 30px;
}
.float-right
{
    float: right;
}

.navbar-custom .navbar-text
{
    display: inline;
    font-size: larger;
    font-weight: bolder;
    color: white;
    padding: 20px;
}
nav.navbar-nav1 > li > a
{
    text-shadow: 0 1px 0 rgba(200, 150, 0, 0.25);
}

a, a:focus
{
    text-decoration: none;
    color: inherit;
}

a:hover, a:active
{
    text-decoration: none;
    color: #3E8AC4;
}

/*-----------SIDEBAR----------*/

.sidebar
{
    padding-top: 20px;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    height: 100%;
    width: 250px;
    min-height: 100%;
}

.sidebar-link
{
    display: inline-block;
    padding-top: 5px;
    width: 100%;
    float: left;
}

.sidebar-link:hover
{
    background-color: #D7EEF7;
}

.create
{
    width: 80%;
    margin: auto;
}

.create:hover
{
    background-color: #3E8AC4;
    color: white;
    border-radius: 100px;
}

.create:hover a
{
    color: white;
}

.fontsize
{
    font-size: 20px;
}

/*-----------MAIN CONTENT----------*/

.wrapper
{
    padding: 30px 30px 30px 30px;
    margin-top: 50px;
}

.content
{
    display: flex;
    /*100 vh == hele skærmen MINUS footers height*/
    min-height: calc(100vh - 250px);
}

.minheight
{
    min-height: calc(100vh - 250px);
}

.contentcontent
{
    box-sizing: border-box;
    width: 100%;
}

.create-edit-team-container
{
    width: 60%;
    margin: auto;
}

.create-edit-team-form
{

}

.create-edit-team-label
{
    font-size: 25px;
    padding-top: 50px;
}

.create-edit-team-input
{
    margin: 20px;
}

.preview-user-container
{
    flex-wrap: wrap;
    display: inline-flex;
    width: 100%;
    margin: auto;
    padding: 40px;
}

.preview-user-box
{

}