<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flowster</title>
    <!-- Hvilke karakterer der kan benyttes på siden -->
    <meta charset="utf-8">
    <!-- Får siden til at følge skærmens størrelse -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Browser logo -->
    <link rel="icon" href="/images/flowster-logo-thumbnail.png">
    <!-- Stylesheets til Bootstrap -->
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap-theme.css" type="text/css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/flowster.css" type="text/css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Padauk&family=Raleway:wght@200&display=swap" rel="stylesheet">



</head>
<body>

<div class="container-fluid main-content">
    <div class="row">
        <!-- col==kolonne, sm==small, så den også kan benyttes på telefoner og tablets 4=del af siden den benytter ud af 12 -->
        <div class="col-sm-4">

            <div class="container col-sm-12 container-width">
                <h2 class="text-center">Opret bruger</h2>
                <!-- Action bestemmer hvilken PostMapping vi går til -->
                <form action="/createUser" method="post" class="create-user">

                    <div class="form-group">

                        <!-- LABEL-TAG -->
                        <!-- for="" == siger hvilket inputfelt labelen skal tilhøre -->
                        <!-- inde i selve tagget == Tekst som står før inputfelt-->

                        <!-- INPUT-TAG -->
                        <!--type="" == specificerer hvilken type input feltet kan modtage-->
                        <!--class="" == refererer til stylling som skal bruges på form-->
                        <!-- id="" == inputfelt SKAL have et id - KAN referere til styling -->
                        <!--placeholder == tekst som står inde i inputfelt -->
                        <!-- name="" == navn vi refererer til i koden, når vi skal have inputtet fra formen -->
                        <!-- required == betyder at inputfeltet SKAL udfyldes -->
                        <!-- min + max == spændet som inputtet skal være mellem -->

                        <!--min="10000" og max="99999" == gør at der SKAL indtastes et tal på 5 cifre-->

<label for="organisation-and-job-type">Organisationskode:</label>
<input type="number"
       class="form-control"
       id="organisation-and-job-type"
       placeholder="Indtast organisationskode"
       th:value = "${createUserViewModel != null ? createUserViewModel.getOrganisationAndJobType() : ''}"
       oninvalid="this.setCustomValidity('Indtast venligst den organisations kode du har fået oplyst af din virksomhed')"
       oninput="setCustomValidity('')"
       name="organisation-and-job-type"
       required
       min="10000" max="99999">

                        <!--min="0" og max="99" == gør at der SKAL indtastes et tal på 2 cifre-->

                        <!-- Dette er den eneste værdi på createUserViewModel, som IKKE er null, fordi den er en double, hvis default er 0,0 -->
                        <!-- Derfor skal vi lave: -->
                        <!-- if ? then ==  den viser KUN getManHours() hvis den ikke er null -->
                        <!--step="0.1" gør at vi kan indtaste et enkelt tal efter decimal altså 37.5 er nu valid -->
                        <label class="label-padding" for="manhours">Ugentlige arbejdstimer:</label>
                        <input type="number"
                               class="form-control"
                               id="manhours"
                               step=".1"
                               placeholder="Indtast arbejdstimer"
                               th:value = "${createUserViewModel != null ? createUserViewModel.getManhours() : ''}"
                               oninvalid="this.setCustomValidity('Angiv dine ugentlige arbejdstimer')"
                               oninput="setCustomValidity('')"
                               name="manhours"
                               required
                               min="0" max="99">

                        <!--max-length="100" == Fordi i db har sat en limit på VARCHAR(100)-->
                        <label class="label-padding" for="firstname">Fornavn:</label>
                        <input type="text"
                               class="form-control required"
                               id="firstname"
                               placeholder="Indtast fornavn"
                               th:value = "${createUserViewModel != null ? createUserViewModel.getFirstname() : ''}"
                               oninvalid="this.setCustomValidity('Indtast venligst dit fornavn')"
                               oninput="setCustomValidity('')"
                               name="firstname"
                               required="required"
                               maxlength="100"
                               pattern="^[a-zA-ZæøåÆØÅ\s\-]*$">

                        <!--max-length="100" == Fordi i db har sat en limit på VARCHAR(100)-->
                        <label class="label-padding" for="surname">Efternavn:</label>
                        <input type="text"
                               class="form-control"
                               id="surname"
                               placeholder="Indtast fornavn"
                               th:value = "${createUserViewModel != null ? createUserViewModel.getSurname() : ''}"
                               oninvalid="this.setCustomValidity('Indtast venligst dit efternavn')"
                               oninput="setCustomValidity('')"
                               name="surname"
                               required
                               maxlength="100"
                               pattern="^[a-zA-ZæøåÆØÅ\s\-]*$">

                        <!--max-length="320" == Fordi i db har sat en limit på VARCHAR(320)-->
                        <label class="label-padding" for="email">Email:</label>
                        <input type="email"
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                               class="form-control"
                               id="email"
                               placeholder="Indtast email"
                               th:value = "${createUserViewModel != null ? createUserViewModel.getEmail() : ''}"
                               oninvalid="this.setCustomValidity('Indtast venligst din email. En email indeholder altid et \'@\' og et \'.\'-domæne')"
                               oninput="setCustomValidity('')"
                               name="email"
                               required
                               maxlength="320">


                        <label class="label-padding" for="password">Adgangskode:</label>
                        <input type="password"
                               class="form-control"
                               id="password"
                               placeholder="Indtast adgangskode"
                               th:value = "${createUserViewModel != null ? createUserViewModel.getPassword() : ''}"
                               oninvalid="this.setCustomValidity('Indtast venligst en adgangskode. En adgangskode består af 8 karakterer, mindst' +
                                ' ét stort bogstav og mindst ét specialtegn')"
                               oninput="setCustomValidity('')"
                               name="password"
                               value="Valeas"
                               required
                               maxlength="320"
                               pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">

                        <br>

                        <input type="password"
                               class="form-control"
                               id="confirm-password"
                               placeholder="Bekræft adgangskode"
                               oninvalid="this.setCustomValidity('Indtast venligst en adgangskode som matcher ' +
                                'ovenstående adgangskode')"
                               oninput="setCustomValidity('')"
                               name="confirm-password"
                               required
                               maxlength="320"
                               pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">

                    </div>
                    <div class="text-center">

                        <button type="submit" class="btn flowster-btn">Opret</button>

                        <hr>

                        <p class="font-italic">Har du allerede en bruger?</p>

                        <a href="/" class="btn flowster-btn">Log ind</a>

                    </div>
                    <br>
                </form>
            </div>

        </div>

        <div class="col-sm-8 text-center">

            <br><br>
            <div class="image-slideshow">
                <img src="/images/screenshot-4.png" alt="Slide 4" />
                <img src="/images/screenshot-3.png" alt="Slide 3" />
                <img src="/images/screenshot-2.png" alt="Slide 2" />
                <img src="/images/screenshot-1.png" alt="Slide 1" />
            </div>

        </div>

    </div>

    <div th:if="${error != null}" th:replace="fragments :: error-popup(${error})"></div>

</div>

<!-- Fragments -->
<div th:insert="fragments :: footer(${loggedInUser}, ${orgDbName})"></div>

</body>
</html>
