<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flowster</title>
    <!-- Hvilke karakterer der kan benyttes på siden -->
    <meta charset="utf-8">
    <!-- Får siden til at følge skærmens størrelse -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Browser logo -->
    <link rel="icon" href="/images/flowster-logo-thumbnail.png">
    <!-- Stylesheets til Bootstrap -->
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap-theme.css" type="text/css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/flowster.css" type="text/css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Padauk&family=Raleway:wght@200&display=swap" rel="stylesheet">

</head>
<body>




<div class="container-fluid main-content">
    <div class="row">
        <div class="col-sm-4">
            <div class="container col-sm-12 container-width">

                <h2 class="text-center">Log ind</h2>
                <!-- Action bestemmer hvilken PostMapping vi går til -->
                <form action="/postLogIn" method="post">

                    <div class="form-group">

                        <!--max-length="320" == Fordi i db har sat en limit på VARCHAR(320)-->

                        <label for="email">Email:</label>
                        <input type="text"
                               id="email"
                               class="form-control "
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                               placeholder="Indtast email"
                               th:value = "${logInViewModel != null ? logInViewModel.getEmail() : ''}"
                               oninvalid="this.setCustomValidity('Ugyldigt email format')"
                               oninput="setCustomValidity('')"
                               name="email"
                               required="required"
                               maxlength="320">


                        <label class="label-padding" for="password">Adgangskode:</label>
                        <input type="password"
                               class="form-control asterisk_input"
                               id="password"
                               placeholder="Indtast adgangskode"
                               name="password"
                               required
                               maxlength="320">

                    </div>

                    <div class="text-center">

                        <button type="submit" class="btn flowster-btn" href="#error-popup">Log ind</button>

                        <hr>

                        <p class="font-italic">Få adgang</p>

                        <a href="/createUser" class="btn flowster-btn ">Opret bruger</a>

                    </div>
                </form>



            </div>
        </div>

        <div class="col-sm-8 text-center">




            <img class="index-img-container rel" src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop">

        </div>


    </div>

    <div th:if="${error != null}" id="error-popup" class="overlay text-center">
        <div></div>
        <div class="popup">
            <h2>Der skete en fejl</h2>
            <a class="close" href="#">&times;</a>
            <div class="content" th:text="${error}">
            </div>
        </div>
        <div></div>
    </div>
</div>

<!-- Fragments -->
<div th:insert="fragments :: footer(${loggedInUser}, ${orgDbName})"></div>

</body>
</html>
