<!-- GOOGLE: reset css - for at fjerne styling fra individuelle browsere == RR01 -->
<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flowster</title>
    <!-- Hvilke karakterer der kan benyttes på siden -->
    <meta charset="utf-8">
    <!-- Får siden til at følge skærmens størrelse -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheets til Bootstrap -->
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap-theme.css" type="text/css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/flowster.css" type="text/css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Padauk&family=Raleway:wght@200&display=swap" rel="stylesheet">

</head>
<body>

<!------------------------------------------ MENUBAR ------------------------------------------>

<!-- TODO: hvad skal denne nav-tag? -->
<nav>
    <a href="/html/">HTML</a> |
    <a href="/css/">CSS</a> |
    <a href="/js/">JavaScript</a> |
    <a href="/python/">Python</a>
</nav>

<!-- TODO: når man kalder dette fragment skal man skrive:
<nav th:insert="general/fragments :: menubar(${loggedInUser})"></nav>
-->

<nav th:fragment="menubar(loggedInUser)" class="navbar navbar-custom">
    <div class="container-fluid">

        <!-- BRAND -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="navbar-logo" src="/images/Flowster_logo_light.png"></a>
        </div>

        <!-- COLLAPSIBLE NAVBAR -->
        <div class="collapse navbar-collapse" id="alignment-example">

            <!-- Links -->
            <ul class="navbar-text">
                <a th:href="${loggedInUser.getClassName() + '/teams'}">Teams</a>
                <br>
                <a th:href="${loggedInUser.getClassName() + '/projects'}">Projekter</a>
            </ul>

        </div>

    </div>
</nav>

<!------------------------------------------ SIDEBAR ------------------------------------------> <!--TODO-->

<!-- TODO: når man kalder dette fragment skal man skrive:
<nav th:insert="general/fragments :: menubar(${loggedInUser.getJoinedTeamsList()})"></nav>
-->
<nav th:fragment="sidebar(joinedTeamsList)" class="navbar navbar-custom">
    <!--

    MENUPUNKT øverst i sidebar:
    ${loggedInUser.isProjectManager() ? 'Nyt projekt'}"

    Liste under menu-punkt:
    <tr th:each="team: ${joinedTeamsList}">
        <td th:text="${team.getName()}" />
    </tr>
    -->

</nav>

<!------------------------------------------ FOOTER ------------------------------------------>

<div th:fragment="footer" class="text-center footer">
    <div class="col-sm-2">
        <a href="/contact" class="white">Kontakt</a>
    </div>
    <div class="col-sm-2">
        <a href="/aboutUs" class="white">Om os</a>
    </div>
    <div class="col-sm-6">
    </div>
    <div class="col-sm-2">
        <img class="footer-logo" src="/images/Flowster_logo.png">
    </div>
</div>

<!--TODO: Måske lav et andet htmldok til main-content?? -->
<!------------------------------------------ MAIN-CONTENT ------------------------------------------>

<!-- TODO: når man kalder dette fragment skal man skrive:
<nav th:insert="general/fragments :: menubar(${loggedInUser.getJoinedTeamsList()})"></nav>
-->
<!-- MAIN-CONTENT: TEAMS -->


<!-- TODO: når man kalder dette fragment skal man skrive:
<nav th:insert="general/fragments :: menubar(${loggedInUser.getJoinedTeamsList()})"></nav>
-->
<!-- MAIN-CONTENT: CREATETEAM-html -->


<!-- TODO: når man kalder dette fragment skal man skrive:
<nav th:insert="general/fragments :: menubar(${loggedInUser.getJoinedProjectsList()})"></nav>
-->
<!-- MAIN-CONTENT: PROJECTS -->

<!-- TODO: når man kalder dette fragment skal man skrive:
<nav th:insert="general/fragments :: menubar(${loggedInUser.getJoinedProjectsList()})"></nav>
-->
<!-- MAIN-CONTENT: CREATEPROJECT-html -->




</body>

</html>