<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flowster</title>

    <link rel="stylesheet" href="/TEST.css" type="text/css">
</head>
<body>


<!-- MENUBAR -->
<nav>
    <a href="/html/">HTML</a> |
    <a href="/css/">CSS</a> |
    <a href="/js/">JavaScript</a> |
    <a href="/python/">Python</a>
</nav>

<!-- SIDEBAR -->

<!-- GOOGLE: reset css - for at fjerne styling fra individuelle browsere == RR01 -->

<!-- FOOTER -->

<div th:fragment="footer" class="text-center footer">
    <div class="col-sm-2">
        <a href="/contact" class="white 20">Kontakt</a>
    </div>
    <div class="col-sm-2">
        <a href="/aboutUs" class="white">Om os</a>
    </div>
    <div class="col-sm-6">
    </div>
    <div class="col-sm-2">
        <p>Logo</p>
    </div>
</div>

</body>

</html>