<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flowster</title>
    <!-- Hvilke karakterer der kan benyttes på siden -->
    <meta charset="utf-8">
    <!-- Får siden til at følge skærmens størrelse -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheets til Bootstrap -->
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap-theme.css" type="text/css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/flowster.css" type="text/css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Padauk&family=Raleway:wght@200&display=swap" rel="stylesheet">

</head>
<body>


<div class="container-fluid main-content text-center">

    <div class="row">
        <nav th:insert="fragments :: menubar(${loggedInUser})"></nav>
    </div>

    <div class="row content">

        <!-- SIDEBAR-FRAGMENT -->
        <nav th:insert="fragments :: projects-sidebar(${loggedInUser})"></nav>

        <!-- MAIN-CONTENT-FRAGMENT -->
        <div th:insert="fragments :: projects-page-content(${loggedInUser})"></div>

    </div>

</div>

<!-- Footer fragment -->
<div th:insert="fragments :: footer(${loggedInUser})"></div>

</body>
</html>
