<!-- GOOGLE: reset css - for at fjerne styling fra individuelle browsere == RR01 -->
<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flowster</title>
    <!-- Hvilke karakterer der kan benyttes på siden -->
    <meta charset="utf-8">
    <!-- Får siden til at følge skærmens størrelse -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheets til Bootstrap -->
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap-theme.css" type="text/css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/flowster.css" type="text/css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Padauk&family=Raleway:wght@200&display=swap" rel="stylesheet">

</head>
<body>




<!----------------------------------------------- MENUBAR --------------------------------------------->

<!-- Kald fragment: <nav th:insert="general/fragments :: menubar(${loggedInUser})"></nav> -->
<nav th:fragment="menubar(loggedInUser)" class="navbar navbar-custom">
    <div class="container-fluid">

        <!-- BRAND -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="frontPage"><img class="navbar-logo" src="/images/Flowster_logo_light.png" alt="Flowster_logo_light"></a>
        </div>

        <!-- COLLAPSIBLE NAVBAR -->
        <div class="collapse navbar-collapse" id="alignment-example">

            <!-- Links --> <!-- TODO: før var det et ul-tag - men betyder det noget??-->

            <a href="teams" class="navbar-text">Teams</a>
            <a href="projects" class="navbar-text">Projekter</a>
            <a href="/" class="navbar-text float-right">Log ud</a>
            <!--
            <div class="navbar-text">
                <a href="teams">Teams</a>
            </div>
            <div class="navbar-text">
                <a href="projects">Projekter</a>
            </div>
            -->


        </div>

    </div>
</nav>


<!------------------------------------------------- TEAMS -------------------------------------------->

<!--------------- SIDEBAR --------------->
<!-- <div th:insert="general/fragments :: teams-sidebar(${loggedInUser})"></div> -->

<nav th:fragment="teams-sidebar(loggedInUser)" class="col-sm-2 sidebar fontsize">

    <div th:if="${loggedInUser.isProjectManager()}">
        <div class="create">
            <a href="/createTeam" th:text="${loggedInUser.isProjectManager()} ? 'Nyt team'"></a>
        </div>
        <hr class="hr">
    </div>

    <div
        <!-- DET ER HER TEAMLISTEN VISES -->
        <div th:each="team: ${loggedInUser.getJoinedTeamsList()}">
            <div class="sidebar-link">
                <a th:href="'team?' + ${team.getId()}" th:text="${team.getName()}"></a>
            </div>
        </div>
    </div>
</nav>


<!--------------- MAIN-CONTENT ---------------> <!-- TODO -->
<!-- <div th:insert="general/fragments :: teams-main-content(loggedInUser)"></div> -->

<div th:fragment="teams-page-content(loggedInUser)" class="col-sm-10 text-center">
    <h1>Mine teams</h1>

    <div th:each="team: ${loggedInUser.getJoinedTeamsList()}">
        <!-- FOR hvert team på listen: lav en kasse til det, som man kan klikke på -->
        <a th:href="'team?' + ${team.getId()}">
            <div  class ="preview-team text-left">
                <h2 th:text="${team.getName()}"></h2>
            </div>
        </a>
    </div>

</div>


<!-------------------------------------------- PROJECTS --------------------------------------------> <!-- TODO -->

<!--------------- SIDEBAR ---------------> <!-- TODO -->
<!-- <div th:insert="general/fragments :: projects-sidebar(${loggedInUser})"></div> -->

<nav th:fragment="projects-sidebar(loggedInUser)" class="col-sm-2 sidebar fontsize">
    <!--
    <div class="row fontsize">
        <a href="/createTeam" th:text="${loggedInUser.isProjectManager()} ? 'Nyt team'" class="fontsize" ></a>
    </div>

    <hr class="hr">

    <div class="row fontsize">

        <div th:each="team: ${loggedInUser.getJoinedTeamsList()}">
            <a th:href="'team?' + ${team.getId()}" th:text="${team.getName()}"></a>
        </div>
    </div>
    -->
</nav>


<!--------------- MAIN-CONTENT ---------------> <!-- TODO -->
<!-- <div th:insert="general/fragments :: projects-main-content(loggedInUser)"></div> -->

<div th:fragment="projects-page-content(loggedInUser)" class="col-sm-10 text-center">
    <h1>Mine teams</h1>

    <div th:each="team: ${loggedInUser.getJoinedTeamsList()}">
        <!-- FOR hvert team på listen: lav en kasse til det, som man kan klikke på -->
        <a th:href="'team?' + ${team.getId()}">
            <div  class ="preview-team">
                <h1 th:text="${team.getName()}"></h1>
            </div>


        </a>
    </div>

</div>




<!------------------------------------------ FOOTER ------------------------------------------------>

<!-- <div th:insert="general/fragments :: footer"></div> -->
<div th:fragment="footer(loggedInUser)" class="text-center footer">
    <div class="col-sm-2">
        <a href="/contact" class="white">Kontakt</a>
    </div>
    <div class="col-sm-2">
        <a href="/about" class="white">Om os</a>
    </div>
    <div class="col-sm-6">
    </div>
    <div class="col-sm-2">

        <!-- <p>Age: <span th:text="*{age != null}? *{age} : '(no age specified)'">27</span>.</p> -->
        <!-- ${${loggedInUser != null} ? ${ loggedInUser.findClassNameUrlPath()} + 'frontPage'-->
        <!-- <td th:text="${teacher.active} ? 'ACTIVE' : 'RETIRED'" />-->
        <!-- <a th:href="'team?' + ${team.getId()}"> -->
        <!-- <td th:text="${teacher.active} ? 'ACTIVE' : 'RETIRED'" /> -->

        <a th:href="@{(${loggedInUser != null ? '/frontPage' : '/'})}">
            <img  class="footer-logo" src="/images/Flowster_logo.png">
        </a>



        <!--<img class="footer-logo" src="/images/Flowster_logo.png">-->
    </div>
</div>


</body>

</html>