<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flowster</title>
    <!-- Hvilke karakterer der kan benyttes på siden -->
    <meta charset="utf-8">
    <!-- Får siden til at følge skærmens størrelse -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Browser logo -->
    <link rel="icon" href="/images/flowster-logo-thumbnail.png">
    <!-- Stylesheets til Bootstrap -->
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap-theme.css" type="text/css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/flowster.css" type="text/css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Padauk&family=Raleway:wght@200&display=swap" rel="stylesheet">

</head>
<body>

<div class="container-fluid main-content text-center">

    <div th:if="${error != null}" id="error-popup" class="overlay text-center">
        <div class="popup">
            <h2>Der skete en fejl</h2>
            <a class="close" href="#">&times;</a>
            <div class="content" th:text="${error}">
            </div>
        </div>
    </div>

    <div class="row">
        <nav th:insert="fragments :: menubar(${loggedInUser}, ${orgDbName})"></nav>
    </div>

    <div class="row content">

        <!-- SIDEBAR-FRAGMENT -->
        <!-- TODO: team-fragment :: teams-list(${loggedInUser.getJoinedTeamList})-->
        <!--TODO: det giver bedst mening at sende en Model med til hver fragment, som kun indeholder det som den fragment skal bruge  -->
        <div th:insert="fragments :: teams-sidebar(${loggedInUser}, ${orgDbName})" class="content"></div>

        <!-- MAIN-CONTENT-FRAGMENT -->
        <div class="col-sm-10">
            <div class="team-container">
                <label class="team-label" for="team-name">Teamnavn:</label>
                <form th:action="${'/' + orgDbName + '/editTeam/' + team.getId() + '/editTeamName'}" method="post" class="edit-team-name-container">
                    <div></div>
                    <input type="text"
                           class="form-control"
                           id="team-name"
                           name="team-name"
                           th:value="${team.getName()}"
                           oninvalid="this.setCustomValidity('Indtast venligst et nyt teamnavn på maks 100 karakterer')"
                           oninput="setCustomValidity('')"
                           maxlength="100"
                           required>
                    <button type="submit" class="btn save-team-btn">Gem</button>
                </form>
            </div>
            <div class="preview-user-container">
                <div th:each="previewUser: ${team.getUserList()}">
                    <div class="preview-user-box">

                        <div class="preview-profile-picture">
                            <img alt="Profilebillede" th:src="'data:image/jpeg;base64,' + ${previewUser.getBase64()}">
                        </div>
                        <br>
                        <p th:text="${previewUser.getName()}"></p>
                        <p th:text="${previewUser.getJobType()}"></p>

                        <div th:if="${previewUser.isOnTeam()}">
                            <form th:action="${team.getId() + '/removeUser/' + previewUser.getId()}" method="post">
                                <button class="btn remove-btn" type="submit">Fjern</button>
                            </form>
                        </div>

                        <div th:unless="${previewUser.isOnTeam()}">
                            <form th:action="${team.getId() + '/addUser/' + previewUser.getId()}" method="post">
                                <button class="btn add-btn" type="submit">Tilføj</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Footer fragment -->
<div th:insert="fragments :: footer(${loggedInUser}, ${orgDbName})"></div>

</body>
</html>
